.jumbotron-fluid{
    background-image: url('train-1728537_1280 (1).jpg');
    background-size: cover;
    background-position:0px 520px;
    background-attachment: fixed;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-style: hidden;
    border-radius: 10px;
}

h1{
    color: white;
}

#submit{
    background-color: royalblue;
    color: white;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.container1{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-style: ridge;
    border-radius: 10px;
}

.container2{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-style: ridge;
    border-radius: 10px;
}

.form-group{
    margin-left: 15px;
}

.breadcrumb{
    background-color: royalblue;
}

p{
    color: white;
    line-height: 5px;
}

.display-4{
    text-align: center;
}

.lead{
    text-align: center;
}

body{
    background-color: mintcream;
}